@media screen and (min-width: 1025px) and (max-width: 1366px) {
    .mid-sec {
        top: 43%;
    }
    .video-block .desc {
        bottom: 70px;
    }
    .video-block .carousel-item {
        height: 680px;
    }
    .weather-fixed .desc-top {
        padding-top: 40px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .head-span1:before {
        top: 18px;
    }
    .head-sub {
        font-size: 32px;
    }
    .img-block .desc {
        padding: 40px;
    }        
    .font-28 {
        font-size: 24px;
    }
    .head-title {
        font-size: 46px;
    }
    .head-desc p {
        font-size: 24px;
    }
    #spotlight .hero-text, 
    #banner .hero-text {
        font-size: 46px;
    }
    .head-span2:before, 
    .head-span2:after {
        top: 19px;
        height: 31px;
    }
    .video-block .desc p {
        font-size: 20px;
    }
    /* .section-block {
        padding-top: 45px;
        padding-bottom: 45px;
    } */
    .k-stories .desc {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }    
    .k-stories .card-body {
        padding: 15px 15px;
    }
    #footer {
        padding: 60px 0;
    }

    .pt-3.mb-pt-0 {
        padding-top: 0 !important;
    }
    .head-desc {
        padding-bottom: 90px;
    }
    .scrollTop img {
        width: 62px;
    }
    .pt-4.mob-pt-0 {
        padding-top: 0 !important;
    }
    .fig-caption {
        bottom: 30px;
        padding: 15px 15px;
    }
    .desc.px-5 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}
/* big-screen */
/* medium-screen */
@media screen and (min-width: 992px) and (max-width: 1024px) {
    .slider.video-block .slick-slide section,
    .slider.video-block .slider_item  {
        height: 100vh;
    }
    #spotlight .hero-text, 
    #banner .hero-text {
        font-size: 46px;
    }
    .head-span2:before, 
    .head-span2:after {
        content: "";
        top: 18px;
        height: 33px;
        left: 0;
        width: 1px;
        position: absolute;
        background: #c1c8c0;
    }
    .desc-esntl {
        padding: 30px;
    }
    .head-sub {
        font-size: 32px;
    }
    .font-22 {
        font-size: 18px;
    }
    .img-block .desc {
        padding: 30px;
    }
    .head-sub {
        font-size: 26px;
    }
    .font-28 {
        font-size: 22px;
    }
    .weather-fixed .desc-top {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .head-title {
        font-size: 46px;
    }
    .head-desc p {
        font-size: 22px;
    }
    .head-title {
        font-size: 32px;
    }
    .ibm-font-26 {
        font-size: 20px;
    }
    .px-5.desc {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
    .k-stories .desc {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }
    .k-stories .card-body {
        padding: 15px 15px;
    }
    .ibm-font-18 {
        font-size: 16px;
    }
}
/* medium-screen */
/* small-screen */
@media screen and (max-width: 991px) {
    #header {
        top: 0;
    }
    .stellarnav.mobile.active .mob-menu .mob-navbar {
        display: block !important;
    }
    .play-btn-group {
        bottom: 26px;
    }
    .mob-d-none {
        display: none !important;
    }
    .mob-px-3 {
        padding-right: 30px;
        padding-left: 30px;
    }
    .stellarnav.mobile > ul.navbar-nav > li {
        margin-right: 0;
        border-bottom: 1px solid #ccc;
    }
    #header .navbar-expand-lg .navbar-nav .nav-link {
        padding: 15px;
        font-weight: 600;
        background: url(../images/right-arrow-angle.png) 98% 18px no-repeat;
        background-size: 16px !important;
    }
    #header .navbar-expand-lg .navbar-nav .mob-search .nav-link  {
        background: none;
    }
    .navbar-nav .nav-item.active .nav-link:after {
        display: none;
    }
    .mob-search i {
        font-size: 16px;
    }
    .mob-d-block {
        display: block !important;
    }
    .stellarnav .mob-head .dd-toggle {
        display: none !important;
    }
    .stellarnav .mob-head {
        position: relative;
    }
    .stellarnav .mob-head .logo-mob {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        padding: 11px 0;
        max-width: fit-content;
        text-align: center;
        margin: 0 auto;
    }
    .stellarnav .mob-head .logo-mob img {
        width: 52px;
    }
    .stellarnav.mobile.active .mob-menu {
        display: block;
        background: #fff;
    }
    .stellarnav.mobile .mob-menu .navbar-nav .nav-item {
        margin-right: 0;
        border-bottom: 1px solid #e6e6e6;
    }
    .stellarnav.mobile .mob-menu .btm-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .stellarnav.mobile .mob-menu .btm-nav a {
        padding: 12px;
        float: left;
        width: 50%;
        font-size: 18px;
        font-weight: 600;
    }
    .stellarnav.mobile .mob-menu .btm-nav a.markermap {
        border-right: 1px solid #dee2e6;
    }
    #spotlight {
        margin-top: 0;
    }
    .sliderContainer {
        height: 100vh;
    }
    .video-block video {
        height: 100vh;
    }
    .head-span {
        display: block;
    }
    .head-span1 {
        padding-left: 0;
    }
    .head-span1:before,
    .head-span2:before, 
    .head-span2:after {
        display: none;
    }
    .mid-sec {
        top: 35%;
    }
    .video-block .desc h3 {
        font-size: 22px;
    }
    .video-block .desc p {
        font-size: 18px;
        font-weight: 100;
    }
    .video-block .desc {
        position: absolute;
        right: 0;
        bottom: 120px;
        z-index: 9;
        max-width: 100%;
        text-align: center;
        padding: 0 15px;
    }
    #spotlight .hero-text, 
    #banner .hero-text {
        font-size: 36px;
    }
    .descwrap {
        padding-left: 0;
    }
    .descwrap:before {
        display: none;
    }
    .slide-nav-wrap {
        position: absolute;
        bottom: 30px;
        max-width: 220px;
        right: 0;
        display: block;
        text-align: center;
        left: 30px;
        margin: 0;
    }
    .floating-btn {
        bottom: 15px;
        left: 15px;
    }
    .head-span3.text-yellow {
        color: #f1f1f1 !important;
    }
    /* section-block */
    .section-block {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .head-desc p {
        font-size: 18px;
    }
    .head-title,
    .head-title-child-sub {
        font-size: 24px;
    }
    .desc-esntl {
        bottom: 30px;
        padding: 15px;
    }
    .head-sub {
        font-size: 22px;
    }
    .ibm-font-18 {
        font-size: 16px;
    }
    .reg-slide-block .owl-carousel.owl-theme .owl-nav button.owl-prev, 
    .reg-slide-block .owl-carousel.owl-theme .owl-nav button.owl-next {
        width: 62px;
        height: 62px;
    }
    .reg-slide-block .owl-carousel.owl-theme .owl-nav button.owl-prev {
        right: 62px;
    }
    .reg-slide-block .owl-carousel.owl-theme .owl-nav button.owl-prev {
        background: #f4f4f6 url(../images/arrow-prev.png) no-repeat 22px 20px;
    }
    .reg-slide-block .owl-carousel.owl-theme .owl-nav button.owl-next {
        background: #f4f4f6 url(../images/arrow-next.png) no-repeat 22px 20px;
    }
    .reg-slide-block .owl-carousel.owl-theme .owl-nav button.owl-next:hover{
        background: #f4f4f6 url(../images/arrow-next-hover.png) no-repeat 22px 20px !important
    }
    .reg-slide-block .owl-carousel.owl-theme .owl-nav button.owl-prev:hover{
        background: #f4f4f6 url(../images/arrow-prev-hover.png) no-repeat 22px 20px !important
    }
    .weather-fixed .desc-top {
        padding-top: 40px;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    .weather-fixed .desc-btm {
        padding-bottom: 40px;
    }
    /* .owl-theme .owl-dots .owl-dot span {
        height: 8px !important;
        width: 8px !important;
    } */
    .form-sec {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        padding: 15px;
        transform: translate(0, 0);
    }
    .ibm-font-26 {
        font-size: 18px;
    }
    .memories-widget .desc.px-5 {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .owl-theme.owl-carousel.carousel-mirror .owl-nav {
        display: none;
    }
    .btn-block {
        position: absolute;
        bottom: 12px;
        right: 0;
        text-align: center;
        padding-top: 0;
        left: 0;
        margin: 0 auto;
    }
    .mob-pb-5 {
        padding-bottom: 2.5rem;
    }
    #block-weather .accordion .accordion-body,
    .accordionContent .accordion-item .accordion-body {
        padding: 0;
    }
    #block-essential {
        padding-bottom: 30px;
    }
    .font-28 {
        font-size: 22px;
    }
    .section-block.mob-pt-0 {
        padding-top: 0;
    }
    .ibm-font-38 {
        font-size: 24px;
    }
    .ibm-font-28 {
        font-size: 18px;
    }
    .profile-page .profile-header .profile-image img {
        width: 120px;
        margin: 0 auto;
    }
    .k-stories .card-body {
        padding: 15px 30px;
    }
    .blogger-text {
        text-align: center;
    }
    .px-5.mob-px-3 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .head-desc.mob-pb-3 {
        padding-bottom: 30px;
    }
    .px-5.mob-px-0,
    .container.mob-px-0,
    .mob-px-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .reg-slide-block .desc-default {
        position: absolute;
        bottom: 0px;
        left: 0;
        text-align: center;
        max-width: 416px;
        padding: 30px 15px;
    }
    .desc-default.bg-white {
        background: transparent !important;
    }
    .desc-default.bg-white .text-dark,
    .desc-default.bg-white .text-black,
    .k-stories .desc .text-dark,
    .k-stories .desc .text-black {
        color: #fff !important;
    }
    #block-reg.reg-slide-block .owl-theme .owl-nav .owl-prev {
        left: auto;
        right: 62px;
        background : #f4f4f6 url(../images/arrow-prev.png) no-repeat 22px 18px;
    }
    #block-reg.reg-slide-block .owl-theme .owl-nav .owl-next {
        left: auto;
        right: 0;
        background : #f4f4f6 url(../images/arrow-next.png) no-repeat 22px 18px;
    }
    .k-stories .desc {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
    .k-stories .desc.position-relative.mob-position-absolute {
        bottom: 120px;
        text-align: center;
        position: absolute !important;
        
    }
    /* .pr-0.mob-pr-15 {
        padding-right: 15px !important;
    } */
    .profile-page {
        bottom: -103px;
    }
    #carouselKstories .owl-item {
        padding-bottom: 105px;
    }
    .px-5.mob-px-3 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    .text-yellow.mob-text-white {
        color: #fff !important;
    }
    .mob-btn {
        margin-bottom: 8px;
        display: inline-block;
        padding: 10px 18px;
    }
    .mob-bdr-top {
        position: relative;
    }
    .mob-bdr-top:before {
        content: "";
        background: #ccc;
        width: 120px;
        height: 1px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .text-end.mob-text-center,
    .mob-text-center {
        text-align: center !important;
    }
    .share-block .share-widget {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .share-block .share-widget .ibm-font-22 {
        font-size: 18px;
    }
    .modal.modal-story {
        position: fixed;
    }
    .scrollTop img {
        width: 44px;
    }
    #footer {
        padding: 40px 0;
    }
    .play-btn-group i {
        font-size: 16px;
        padding: 5px;
    }
    .mob-mb-2,
    .mb-5.mob-mb-2 {
        margin-bottom: 1rem !important;
    }
    .mob-pb-3 {
        padding-bottom: 1.5rem;
    }
    .innerPage #header .navbar {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .font-flair-22 {
        font-size: 18px;
    }
    .head-title-sub {
        font-size: 26px;
    }
    .custom-head {
        border-top: none;
    }
    .skewed-bg {
        margin-bottom: 60px;
    }
    .mob-font-13 {
        font-size: 13px;
    }    
    .ibm-font-22 {
        font-size: 18px !important;
    }
    .px-5.mob-px-2 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
    .fig-caption {
        padding: 30px 30px;
    }
    .fig-overlay .btm-txt {
        padding: 25px 30px;
    }
    .innerPage #header.menu_fixed {
        position: fixed;
    }
    .pt-5.mob-pt-3 {
        padding-top: 1.5rem !important;
    }
    .page-content {
        padding-right: 0;
    }
    .weather_list_grp {
        justify-content: start;
    }
    .pt-5.mob-pt-0 {
        padding-top: 0 !important;
    }
    .img_block_text {
        left: 15px;
        bottom: 15px;
    }
    .list_section {
        padding: 30px 0;
    }
    .accordionContent .accordion-item {
        margin-right: 0.7rem !important;
        margin-left: 0.7rem !important;
    }
    .head-desc {
        padding-right: 15px;
        padding-left: 15px;
    }
    /* section-block */
}
/* small-screen */
