$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font26: 26px;
$font28: 28px;
$fontXBold: 800;
$fontBold: 700;
$fontSemiBold: 600;

$headingFont: 56px;
$subHeadingFont: 40px;
$captionFont: 28px;
$articleFont: 18px;
$linkFont: 16px;

$zero: 0;
$absolute: absolute;
$relative: relative;
$elemCenter: center;
$widthXsmall: 1px;

$elemBlock: block;
$elemFlex: flex;
$elemNone: none;
$elemInlineBlock: inline-block;
$elemHidden: hidden;
$solid: solid;

$colorWhite: #fff;
$colorBlack: #000;
$colorPrimary: #ffcb0d;
$colorSecondary: #f4f4f4;
$widthFull: 100%;
$heightFull: 100%;

$fontPrimary: "Playfair Display", serif;
$fontSecondary: "IBM Plex Sans", sans-serif;
