.section-block {
  padding-top: 90px;
  padding-bottom: 90px;
}

.head-desc {
  padding-bottom: 90px;
  p {
    font-size: $font28;
  }
}
.head-title {
  font-weight: $fontBold;
  font-size: $headingFont;
}
