.bg-yellow {
  background: $colorPrimary;
}

.text-yellow {
  color: $colorPrimary;
}

.hover-theme {
  &:hover {
    color: $colorPrimary;
  }
}

.custom-head {
  border-top: 5px $solid $colorPrimary;
}

.innerPage {
  header {
    border-top: 4px $solid $colorPrimary;
  }
}

.border-bottom.border-grey {
  border-bottom: 1px solid #484848 !important;
}

.underline-0 {
  text-decoration: none;
}